.carousel {
  box-sizing: border-box;
  aria-hidden: true;
}
.main-image-container {
  display: flex;
  position: relative;
  width: 100%;
}
.main-images {
  display: inline-block;
  max-height: 800px;
  min-height: 512px;
  height: 512px;
}
.view-all {
  bottom: 40px;
  position: absolute;
  right: 450px;
}
.main-images-preview {
  display: inline-flex;
  height: 100%;
  overflow: hidden;
}
.preview-wrapper {
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 4px;
}
.preview-image {
  height: 100%;
  object-fit: cover;
  transition: filter .2s ease;
  width: 768px;
}
.va-btn {
  min-height: 56px;
  padding: 16px 36px;
  font-size: 1rem;
  line-height: 24px;
  border-radius: 100px;
  background-color: rgba(0,0,0,.7);
  border-color: transparent;
  color: #fff;
  text-shadow: none;
  transition: all .25s ease-in-out;
  box-shadow: none;
  text-indent: 0px;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  box-sizing: border-box;
  margin: 0;
  overflow: visible;
  text-transform: none;
  position: relative;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: none;
  white-space: nowrap;
  align-items: flex-start;
}
.btn-label {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
#show-modal {
  visibility: visible;
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.5s 0s, transform 0.25s;
}
.modal-container {
  bottom: 0;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1050;
  transform: scale(1.1);
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
  .modal-header {
    align-items: center;
    background: linear-gradient(rgba(37, 47, 56, 0.5), rgba(37, 47, 56, 0));
    color: #fff;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding-left: 10px;
    z-index: 2;
    position: absolute;
    width: 100%;
    transform: none;
    transition: transform 625ms ease;
    transition-property: transform,opacity;
  }
}
.modal-carousel {
  background-color: rgb(37, 47, 56);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateZ(0);
  transition-property: all;
}
.modal-content {
  margin-top: 75px;
  position: relative;
}
.slide {
  display: none;
  text-align: center;
  img {
    height: 100%;
    width: auto;
  }
}
#show-slide {
  display: block;
}
.modal-count {
  position: relative;
  left: 16px;
}
.modal-close {
  font-size: 20px;
  line-height: 10px;
  padding: 20px;
  cursor: pointer;
  position: relative;
  right: 25px;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.nav-wrapper {
  font-size: 30px;
  cursor: pointer;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 80px;
  z-index: 1;
  color: #fff;
}
