.similar-btn-container {
  position: relative;
  float: right;
  top: 30px;
  right: 200px;
}
.similar-btn {
  text-decoration: none;
  color: #0067db;
  padding: 11px 28px;
  width: 50px;
  border: 1px solid #908f8f;
  border-radius: 50px;
  background: #fff;
  height: 50px;
}
.similar-carousel {
  text-align: center;
  background: #f5f4f3;
  h2 {
    text-align: left;
    display: inline-block;
    position: relative;
    right: 475px;
  }
}
.similar-title {
  text-align: center;
}
.similar-slide {
  margin: 8px;
  width: 250px;
  display: inline-block;
  cursor: pointer;
  img {
    width: 100%;
    height: 188px;
    border-radius: 4px;
  }
}
.special img {
  transition: transform 1.8s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(85%);
}
.special:hover img {
  filter: brightness(100%);
  transform: scale(1.1);
}

.similar-rate {
  font-size: 14px;
  color: #717171;
  text-align: left;
  margin-top: 5px 0;
}
.similar-rooms {
  text-align: left;
  margin-top: 5px;
}
.similar-reviews {
  color: #717171;
}
.similar-rating-stars {
  text-align: left;
}
